Repository the-samrat-dey/angular-19: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run lint:fix, stylelint --fix, stylelint --max-warnings 0 || exit 1

feat: #1 update scritp
  .lintstagedrc.json
  angular.json
  commitlint.config.js
  scripts/commit-msg.js
  scripts/commitlint.config.js
  src/index.html
  tsconfig.app.json
  tsconfig.spec.json
Due: npm run prettier:fix, npm run lint:fix

feat: #1 update scss
  .lintstagedrc.json
  src/app/features/auth/signin.component.scss
Due: npm run prettier:fix, stylelint --fix, stylelint --max-warnings 0 || exit 1

feat: #1 script
  .lintstagedrc.json
Due: npm run prettier:fix

feat: #1 update scss
  .lintstagedrc.json
Due: npm run prettier:fix

feat: #1 update route
  .lintstagedrc.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/mock/db.json
  src/app/core/services/theme.service.ts
  src/app/features/auth/auth.routes.ts
  src/app/features/dashboard/dashboard.routes.ts
  src/app/features/user/user.routes.ts
  src/app/layout/footer/footer.component.ts
  src/app/layout/header/header.component.ts
  src/app/layout/layout.service.ts
  src/app/layout/main-layout/main-layout.component.ts
  src/app/layout/sidebar/sidebar.component.ts
  src/styles.scss
Due: npm run prettier:fix, npm run lint:fix, stylelint --fix, stylelint --max-warnings 0 || exit 1

feat: #1 implement signin/signout
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/guards/role.guard.ts
  src/app/core/mock/db.json
  src/app/core/models/auth.model.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/theme.service.ts
  src/app/features/auth/auth.component.ts
  src/app/features/auth/auth.model.ts
  src/app/features/auth/signin.component.html
  src/app/features/auth/signin.component.ts
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.scss
  src/app/layout/header/header.component.ts
  src/app/layout/main-layout/main-layout.component.ts
Due: npm run prettier:fix, npm run lint:fix, stylelint --fix, stylelint --max-warnings 0 || exit 1

feat: #1 refine
  src/app/core/mock/db.json
Due: npm run prettier:fix

Path conditions:
  npm run prettier:fix: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.html)) or (any of: *.{css,scss,sass,less})) or (any of: *.{json,md,yml,yaml})
  npm run lint:fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.html)
  stylelint --fix: any of: *.{css,scss,sass,less}
  stylelint --max-warnings 0 || exit 1: any of: *.{css,scss,sass,less}
